<header
    class="flex h-24 relative items-center justify-between px-2.5 py-2 bg-body w-screen mx-auto px-4"
>
    <a href="/" class="flex font-bold items-center gap-2" id="logo">
        <img class="w-16" src="img/logo.svg" alt="logo" />
        <span class="font-monsterrat">ANIMEme</span>
    </a>

    <nav
        class="absolute bg-body w-screen top-full sm:static sm:h-min sm:top-0 sm:w-96"
    >
        <ul
            class="flex gap-2 flex-col justify-center align-center text-center block h-96 sm:flex-row sm:h-min sm:justify-end sm:gap-8"
        >
            <li class="nav-item">
                <a href="/anime">Browse Anime</a>
            </li>
            <li class="nav-item">
                <a href="/recommend">Share Anime</a>
            </li>
            <li class="nav-item">
                <a href="/about">About ANIMEme</a>
            </li>
        </ul>
    </nav>
    <button id="drawer-btn" class=" sm:hidden  w-10 h-10" ><span class="burger"></span></button>
</header>
