<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("includes/head") %> 
    </head>
    <body class="bg-body text-txt font-sans overflow-x-hidden">
        <%- include("includes/header") %> 
    </body>
    <main class="mx-auto mt-12 px-8 text-center grid grid-rows-2 grid-cols-1 sm:grid-rows-1 sm:grid-cols-2 justify-center align-center items-center justify-items-center gap-4">
        <img src="/img/404.svg" alt="not found" class="block w-full max-w-md">
        <div class="wrapper">
            <h1 class="font-monsterrat font-bold text-4xl mb-8 text-pink">Page not found</h1>
            <a href="/" class="bg-pink w-full block py-4 text-lg font-monsterrat font-bold hover:bg-darkpink" >Go to main page</a>
        </div>
    </main>
</html>
