<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("includes/head") %> 
    </head>
    <body class="bg-body text-txt font-sans overflow-x-hidden">
        <%- include("includes/header") %> 
    </body>
    <main class="mx-auto mt-12 px-8 text-center grid grid-rows-2 grid-cols-1 sm:grid-rows-1 sm:grid-cols-2 justify-center align-center items-center justify-items-center gap-4">
        <img src="/img/500.svg" alt="not found" class="block w-full max-w-md">
        <div class="wrapper">
            <h1 class="font-monsterrat font-bold text-4xl mb-8 text-pink">Ooops! Something went wrong</h1>
            <p class="text-lg">Internal Server Error</p>
            <p class="text-lg">Try again later</p>
        </div>
    </main>
</html>
