<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("includes/head") %> 
    </head>
    <body class="bg-body text-txt font-sans overflow-x-hidden">
        
        <%- include("includes/header") %>
        <main
            class="mx-auto mt-12 px-8 text-center grid grid-rows-2 grid-cols-1 sm:grid-rows-1 sm:grid-cols-2 justify-center align-center items-center justify-items-center gap-4"
        >
            <img
                src="img/about.svg"
                alt="ani cat"
                class="block w-full max-w-md"
            />
            <div class="wrapper">
                <h1 class="font-monsterrat font-bold text-4xl mb-8 text-pink">
                    Discover the world of Anime
                </h1>
                <p class="text-lg">
                    AMIMEme is a website for anime fans that allows you to share
                    and discover great anime
                </p>
                <p class="text-lg">
                    You don't need to sign up or create any account - you can
                    simply start sharing right away!
                </p>
            </div>
        </main>
    </body>
</html>
