<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("includes/head") %> 

    </head>
    <body class="bg-body text-txt font-sans overflow-x-hidden">
        <%- include("includes/header") %>

        <main class=" mx-auto mt-12 px-8 text-center  grid grid-rows-2 grid-cols-1 sm:grid-rows-1 sm:grid-cols-2 justify-center align-center items-center justify-items-center gap-4">
            <img src="img/confirm.svg" alt="ani confirm" class="block w-full max-w-md">
            <div class="wrapper ">

                <h1 class="font-monsterrat font-bold text-4xl mb-3 text-pink ">Success!</h1>
                <p class="mb-6">Your Anime was successfully added to our list!</p>
            </div>
        </main>
    </body>
</html>
