<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %> 

  </head>
  <body class="bg-body text-txt font-sans overflow-x-hidden">
    <%- include("includes/header") %>

    <main class=" mx-auto mt-12 px-8 text-center  grid grid-rows-2 grid-cols-1 sm:grid-rows-1 sm:grid-cols-2 justify-center align-center items-center justify-items-center gap-4">

        <img src="img/home.svg" alt="ani cat" class="block w-full max-w-md">
        <div class="wrapper">

            <hgroup>
                <h1 class="font-monsterrat font-bold text-4xl mb-3 text-pink ">Discover the world of Anime</h1>
                <h2 class="mb-6">
                    Share your favorite anime of all kind and find other users'
                    recommendations
                </h2>
            </hgroup>

            <ul id="actions" class="">
                <li class="mb-8 w-full">
                    <a href="/anime" class="bg-pink  w-full block py-4 text-lg font-monsterrat font-bold hover:bg-darkpink">Browse Shared Anime</a>
                </li>
                <li>
                    <a href="/recommend" class="bg-pink  w-full block py-4 text-lg font-monsterrat font-bold hover:bg-darkpink ">Share Your Favorite Anime</a>
                </li>
            </ul>
        </div>
    </main>
  </body>
</html>
