<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("includes/head") %> 
    </head>
    <body class="bg-body text-txt font-sans overflow-x-hidden">
        <%- include("includes/header) %>
    
        <main class=" mx-auto mt-24 px-8 text-center">
            
            <article class="anime-details  flex flex-col max-w-xl mx-auto justify-center items-center  gap-4 sm:gap-8 sm:flex-row sm:max-w-7xl pb-2" >
                <img src="../public/img/imageNotFound.png" alt="anime image" class="block">
                <div class="wrapper">
                    <h1 class="font-monsterrat font-bold text-4xl  text-pink mb-2">Anime Title</h1>
                    <div class="anime-meta leading-relaxed">
                        <p>Type: TYPE</p>
                        <p>Genre: GENRE</p>
                        <p>Episodes: EPISODES</p>
                        <p>Score: SCORE</p>
                        <p>Rating: X</p>
                        <p>Aired: yyyy-mm-dd to yyyy-mm-dd</p>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, totam. Blanditiis modi commodi iste dolores illo, eius asperiores quaerat odit!
                    </p>
                    <a
                    href="/"
                    target="_blank"
                    class="bg-pink w-full block py-4 text-lg font-monsterrat font-bold hover:bg-darkpink max-w-md mx-auto mt-6 mb-4"
                    >Go to MyAnimeList</a
                    >  
                </div>
            </article> 
            
                
                
            </ul>
        </main>
    </body>
</html>
