<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ANIMEme</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Source+Sans+Pro&display=swap"
            rel="stylesheet"
        />
        <link rel="icon" href="img/logo.svg" />
        <link rel="stylesheet" href="style/style.css" />
        <link rel="stylesheet" href="style/tailwind.css" />

        <script src="scripts/index.js" defer></script>
    </head>
    <body class="bg-body text-txt font-sans overflow-x-hidden">
        <header
            class="flex h-24 relative items-center justify-between px-2.5 py-2 bg-body w-screen mx-auto px-4"
        >
            <a href="/" class="flex font-bold items-center gap-2" id="logo">
                <img class="w-16" src="img/logo.svg" alt="logo" />
                <span class="font-monsterrat">ANIMEme</span>
            </a>

            <nav
                class="absolute bg-body w-screen top-full sm:static sm:h-min sm:top-0 sm:w-96"
            >
                <ul
                    class="flex gap-2 flex-col justify-center align-center text-center block h-96 sm:flex-row sm:h-min sm:justify-end sm:gap-8"
                >
                    <li class="nav-item">
                        <a href="/anime">Browse Anime</a>
                    </li>
                    <li class="nav-item">
                        <a href="/recommend">Share Anime</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about">About ANIMEme</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main
            class="mx-auto mt-12 px-8 text-center grid grid-rows-2 grid-cols-1 sm:grid-rows-1 sm:grid-cols-2 justify-center align-center items-center justify-items-center gap-4"
        >
            <img
                src="img/404.svg"
                alt="not found"
                class="block w-full max-w-md"
            />
            <div class="wrapper">
                <h1 class="font-monsterrat font-bold text-4xl mb-8 text-pink">
                    Page not found
                </h1>
                <a
                    href="/"
                    class="bg-pink w-full block py-4 text-lg font-monsterrat font-bold hover:bg-darkpink"
                    >Go to main page</a
                >
            </div>
        </main>
    </body>
</html>
