<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("includes/head") %> 

    </head>
    <body class="bg-body text-txt font-sans overflow-x-hidden">
        <%- include("includes/header") %>


        <main class=" mx-auto mt-12 px-8 text-center  grid grid-rows-2 grid-cols-1 sm:grid-rows-1 sm:grid-cols-2 justify-center align-center items-center justify-items-center gap-4">
            <img src="img/form.svg" alt="form page image" class="block w-full max-w-md">
            <div class="wrapper">

                <h1 class="font-monsterrat font-bold text-4xl mb-3 text-pink ">Share your favorite Anime!</h1>
                <form class=" text-left" action="/recommend" method="POST">

                    <div class="form-control flex flex-col my-2">
                        <label for="name">Anime name</label>
                        <input type="text" id="name" name="name" required class="text-body bg-txt"/>
                    </div>
                    <div class="form-control flex flex-col my-2">
                        <label for="type">Type</label>
                        <input list="types" name="type" id="type" required class="text-body bg-txt">
                        <datalist id="types" >
                            <option value="TV">
                            <option value="Movie">
                            <option value="OVA">
                            <option value="ONA">
                            <option value="Special">
                            <option value="Music">
                          </datalist>
                    </div>
                    <div class="form-control flex flex-col my-2">
                        <label for="genre">Genre</label>
                        <input
                            type="text"
                            id="genre"
                            name="genre"
                            placeholder="e.g. Shounen, Fantasy"
                            required class="text-body bg-txt"
                        />
                    </div>
                    <div class="form-control flex flex-col my-2">
                        <label for="website"
                            >Link to My Anime List page about this Anime</label
                        >
                        <input type="url" id="website" name="website" class="text-body bg-txt"/>
                    </div>
                    <div class="form-control flex flex-col my-2">
                        <label for="description">Why do you recommend it?</label>
                        <textarea
                            name="description"
                            id="description"
                            rows="5"
                            required
                            class="resize-none text-body bg-txt"
                        ></textarea>
                    </div>
                    <button class="bg-pink  w-full block py-4 text-lg font-monsterrat font-bold hover:bg-darkpink max-w-md mx-auto mt-4">Share Anime</button>
                </form>
            </div>
        </main>
    </body>
</html>
